.badge {
  display: inline-block;
  padding: $badge-padding-y $badge-padding-x;
  font-size: $badge-font-size;
  font-weight: $badge-font-weight;
  line-height: 1;
  color: $badge-color;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: rgb(59, 59, 112);
  margin-left: 3px;
  border-radius: $badge-border-radius;
  font-family: Arial, Helvetica, sans-serif;

  &:empty {
    display: none;
  }
}

.btn .badge {
  position: relative;
  top: -1px;
}