html {
  font-family: $font-family;
  color: $darkGrey;
  font-weight: 400;
  line-height: 1.5;
  padding: 0;
}

.main {
  margin: 0;
}

.content {
  margin-top: 190px;
}

.outline {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  border: 2px solid $darkWhite;
  background-color: $darkWhite;
  border-radius: 10px;
  padding: 14px;

  .outline-row {
    flex-direction: row;
  }
}

@media screen and (max-width: 477px) {
  .content {
    margin-top: 150px;
  }
}

@media screen and (max-width: 387px) {
  .content {
    margin-top: 230px;
  }
}

%heading {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  @extend %heading;

  font-size: $h1-font-size;
}

h2 {
  @extend %heading;

  font-size: $h2-font-size;
}

h3 {
  @extend %heading;

  font-size: $h3-font-size;
}

h4 {
  @extend %heading;

  font-size: $h4-font-size;
}

h5 {
  @extend %heading;

  font-size: $h5-font-size;
}

h6 {
  @extend %heading;

  font-size: $h6-font-size;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}