html {
  font-family: $font-family;
  padding: 0;
}

.main {
  margin: 0;
}

.content {
  margin-top: 190px;
}

@media screen and (max-width: 477px) {
  .content {
    margin-top: 150px;
  }
}

@media screen and (max-width: 387px) {
  .content {
    margin-top: 230px;
  }
}