$font-weight-bold: 700 !default;
//Badges
$badge-font-size: 0.75em !default;
$badge-font-weight: $font-weight-bold !default;
$badge-color: rgb(226, 224, 224) !default;
$badge-padding-y: 0.35em !default;
$badge-padding-x: 0.65em !default;
$badge-border-radius: 0.25rem !default;