.badge {
  display: inline-block;
  font-weight: 10;
  line-height: 1;
  color: black;
  background-color: orchid;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;

  &:empty {
    display: none;
  }
}
