// reponsive and layout
@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin phone {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

// badge
@mixin badge-variant($color) {
  background-color: $color;
}

@mixin make-col($size, $columns: 12) {
  flex: 0 0 auto;
  width: percentage($size / $columns);
}

// navbar
@mixin navbar-variant($color, $textColor, $highlightColor) {
  background-color: $color;

  a {
    color: $textColor;

    &:hover {
      background: $highlightColor;
    }
  }
}

//button
@mixin button-variant($backgroundColor, $textColor, $hover) {
  background-color: $backgroundColor;
  color: $textColor;

  &:hover {
    background: $hover;
  }
}
