// fonts
$font-weight-bold: 700 !default;
$font-family: system-ui, -apple-system, "Segoe UI", roboto, "Helvetica Neue", arial, "Noto Sans", sans-serif;

$h1-font-size: 2.5rem;
$h2-font-size: 2rem;
$h3-font-size: 1.75rem;
$h4-font-size: 1.5rem;
$h5-font-size: 1.25rem;
$h6-font-size: 1rem;

// responsiveness and layout
$desktop-width: 960px;
$tablet-width: 769px;
$phone-width: 413px;

// Colours
$primary: #0d6efd !default;
$success: #198754 !default;
$warning: #dc3545 !default;
$light: #d7d5d1 !default;
$dark: #414749 !default;
$darker: #383d3f !default;
$bluer: #0e52b8 !default;

//Badges
$badge-font-size: 0.75em !default;
$badge-font-weight: $font-weight-bold !default;
$badge-color: rgb(226, 224, 224) !default;
$badge-padding-y: 0.35em !default;
$badge-padding-x: 0.65em !default;
$badge-border-radius: 0.25rem !default;

$badge-variants: (
  "primary": $primary,
  "success": $success,
  "warning": $warning,
);

//Navbar
$navbar-color:  #563d7c;
$fixed: "fixed";

// "name" "backgroundColor" "textColor" "hover"
$navbar-variants: (
  "light" $light $dark $dark,
  "dark" $dark $light $darker,
  "primary" $primary $light $bluer,
);

//Button
// Colours
$color: #4907398e !default;
$color1: #5a6c88 !default;
$color2: #d85c15 !default;
$color3: #bb1c93 !default;
$color4: #200d8d !default;

//format
$padding: 15px 32px;
$text-align: center;
$display: inline-block;

$button-variants: (
  "color": $color,
  "color1": $color1,
  "color2": $color2,
  "color3": $color3,
  "color4": $color4
);
