// fonts
$font-weight-bold: 700 !default;
$font-family: "Inter var", "Helvetica Neue", helvetica, arial, sans-serif;
$font-size-base: 1rem;
$font-size-sm: $font-size-base * 0.875;
$font-size-lg: $font-size-base * 1.05;
$h1-font-size: 2.5rem;
$h2-font-size: 2rem;
$h3-font-size: 1.75rem;
$h4-font-size: 1.5rem;
$h5-font-size: 1.25rem;
$h6-font-size: 1rem;

// responsiveness and layout
$desktop-width: 1200px;
$laptop-width: 900px;
$tablet-width: 769px;
$phone-width: 413px;

// Colours
$ot-navy: #111b58;
$ot-indigo: #2e3d98;
$ot-plum: #4f3690;
$ot-teal: #00b8ba;
$ot-light-blue: #09bcef;
$ot-steel: #7e929f;
$ot-cloud: #e1e8f6;

$ot-firebrick: #df3324;
$ot-burnt: #f05822;
$ot-discovery: #eeb111;
$ot-green: #8cc53e;
$ot-emerald: #08a61a;
$ot-pine: #006353;
$ot-cerulean: #007599;
$ot-lake: #0084ce;
$ot-magenta: #a0006b;
$ot-madder-red: #ba004c;
$ot-raspberry: #e00051;

$blue: #06f;
$darkBlue:#00009f;
$red: #dc3545;
$darkRed: #a72a36;
$white: #fff;
$darkWhite: #f7f7f8;
$grey: #666;
$darkGrey: #333; // text color
$green: #198754;
$darkGreen:#146841;
$purple: #8c00b5;
$yellow: #faad1f;
$darkYellow: #c78b1c;

$primary: $blue !default;
$success: $green !default;
$warning: $red !default;
$info: $yellow;
$light: #d7d5d1 !default;
$dark: #414749 !default;
$darker: $grey !default;
$bluer: #0e52b8 !default;

//Badges
$badge-font-size: 0.75em !default;
$badge-font-weight: $font-weight-bold !default;
$badge-color: rgb(226, 224, 224) !default;
$badge-padding-y: 0.35em !default;
$badge-padding-x: 0.65em !default;
$badge-border-radius: 0.25rem !default;

$badge-variants: (
  "primary": $primary,
  "success": $success,
  "warning": $warning,
  "light": $light,
  "dark": $dark
);

//Navbar
$navbar-color:  #563d7c;
$fixed: "fixed";

// "Modifer Name" "backgroundColor" "textColor" "hover" "hover text"
$navbar-variants: (
  "light" $light $dark $dark $dark,
  "dark" $dark $white $darkWhite $white,
  "primary" $primary $light $bluer $white,
  "transparent" transparent $dark $dark $dark
);

//Button
$button-font-size: 16px !default;
$button-font-weight: $font-weight-bold !default;
$button-color: rgb(226, 224, 224) !default;
$button-padding: 10px !default;
$button-border-radius:  8px !default;

// "Modifier Name" "backgroundColor" "textColor" "hover"
$button-variants: (
  "primary" $primary $white $darkBlue,
  "warning" $warning $white $darkRed,
  "success" $success $white $darkGreen,
  "info" $info $darkGrey $darkYellow,
);

//format
$padding: 15px 32px;
$text-align: center;
$display: inline-block;
$cardHeight : 50;
$cardWidth : 18;
