.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;

  @include desktop {
    background-color: beige;
    flex-direction: row;
    margin-top: 65px;
  }

  @include tablet {
    background-color: rgba(255, 0, 0, 0.479);
    flex-direction: row;
    margin-top: 120px;
  }

  @include phone {
    background-color: rgba(255, 0, 0, 0.479);
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 120px;
  }
}

.con-content {
  float: left;
  order: 2;
  flex: 9 1;
}

.con-dump {
  order: 3;
  flex: 1 25;
}

.main-content {
  padding-left: 2rem;
  padding-right: 2rem;
}

pre {
  width: auto;

  code {
    width: 80%;
  }
}