.container {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;

  @include desktop {
    overflow: inherit;
    flex-direction: row;
    margin-top: 30px;
  }

  @include tablet {
    flex-direction: row;
    margin-top: 30px;
  }

  @include phone {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
  }
}

.con-sidebar {
  order: 1;
  flex: 1.5 0;
  height: calc(100vh - 4rem);

  ul li {
    list-style-type: none;
  }

  @include desktop {
    border-right: 1px solid rgba(black, 0.1);
  }

  @include tablet {
    height: auto;
    position: relative;
    border-bottom: 1px solid rgba(black, 0.1);

    ul li {
      display: inline;
      padding: 1rem;
    }
  }

  @include phone {
    height: auto;
    position: relative;
    border-bottom: 1px solid rgba(black, 0.1);

    ul li {
      display: inline;
      padding: 1rem;
    }
  }
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  align-self: flex-start;
  height: auto;
}

.con-content {
  margin-top: 20px;
  float: left;
  order: 2;
  flex: 9 1;
}

.main-content {
  padding-left: 3rem;
  padding-right: 2rem;
  margin-top: 0;

  @include desktop {
    max-width: 75%;
  }

  @include tablet {
    max-width: 80%;
  }

  @include phone {
    max-width: 90%;
  }
}

pre {
  width: auto;

  code {
    width: 80%;
  }
}