.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-right: 15px;
  margin-left: 15px;

  > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
}

.col {
  flex: 1 0 0%;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    @include make-col($i, 12);

    @include tablet {
      width: 100%;
    }

    @include phone {
      width: 100%;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 1fr 11fr;
  grid-template-areas:
    "sidebar content"
    "sidebar content";
  column-gap: 1rem;

  @include tablet {
    background-color: azure;
    grid-template-areas:
      "sidebar sidebar"
      "content content";
  }

  @include phone {
    background-color: azure;
    grid-template-areas:
      "sidebar sidebar"
      "content content";
  }
}

.grid-sidebar {
  grid-area: sidebar;
  background-color: aqua;
}

.grid-content {
  grid-area: content;
  background-color: beige;
}