.hero {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  left: -11px;
  right: 0;
  top: 0;
  position: relative;
  padding: $hero-padding;

  @each $name, $color in $color-variants {
    &.is-#{$name} {
      @include hero-variant($color);

      &.is-bold {
        $gradient-tl: darken(saturate(adjust-hue($color, -10deg), 10%), 10%);
        $gradient-br: lighten(saturate(adjust-hue($color, 10deg), 5%), 5%);

        background-image: linear-gradient(141deg, $gradient-tl 0%, $color 71%, $gradient-br 100%);
      }
    }
  }

  &.is-small {
    padding: $hero-padding-sm;
  }

  &.is-medium {
    padding: $hero-padding-md;
  }

  &.is-large {
    margin-top: 5rem;
    padding: $hero-padding-lg;
  }

  &.is-fullheight {
    height: 100vh;

    .hero-body {
      align-items: center;
      display: flex;

      & > .container {
        flex-grow: 1;
        flex-shrink: 1;
      }
    }
  }
}
