.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: white;
  background-clip: border-box;
  border: 1px solid rgba(black, 0.125);
  border-radius: 0.25rem;
  width: 35rem;
  height: 40rem;

  @media (max-width: $desktop-width) and (min-width: $tablet-width) {
    width: 30rem;
    height: 35rem;
  }

  @media (max-width: $tablet-width) {
    width: 25rem;
    height: 32rem;
  }

  > .list-group {
    border-top: inherit;
    border-bottom: inherit;

    &:first-child {
      border-top-width: 0;
    }

    &:last-child {
      border-bottom-width: 0;
    }
  }

  >.card-header + .list-group,
  >.list-group + .card-footer {
    border-top: 0;
  }
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.card-title {
  margin-bottom: 1rem;
}

.card-subtitle {
  color: grey;
  margin-top: -0.5rem;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-header {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background-color: rgba(black, 0.03);
  border-bottom: 1px solid rgba(black, 0.125);
}

.card-footer {
  padding: 0.5rem 1rem;
  background-color: rgba(black, 0.03);
  border-top: 1px solid rgba(black, 0.125);
}

.card-img,
.card-img-top,
.card-img-bottom {
  width: 100%;
}

.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  background-color: white;
  border: 1px solid rgba(black, 0.125);
  border-radius: 0.25rem;
}

.cardimg {
  height: auto;
  width: 10rem;
}

.hover-card {
  width: 35rem;
  height: 40rem;

  @media (max-width: $desktop-width) and (min-width: $tablet-width) {
    width: 30rem;
    height: 35rem;
  }

  @media (max-width: $tablet-width) {
    width: 25rem;
    height: 32rem;
  }
}

.hovered {
  width: 35rem;
  height: 40rem;
  text-align: center;
  transform-style: preserve-3d;
  transition: transform 2s;

  @media (max-width: $desktop-width) and (min-width: $tablet-width) {
    width: 30rem;
    height: 35rem;
  }

  @media (max-width: $tablet-width) {
    width: 25rem;
    height: 32rem;
  }
}

.hover-card:hover .hovered {
  transform: rotateY(180deg);
}

.unhovered-card {
  background-color: #bbb;
  color: black;
  border-radius: 10px;
  position: absolute;
  width: 35rem;
  height: 40rem;

  @media (max-width: $desktop-width) and (min-width: $tablet-width) {
    width: 30rem;
    height: 35rem;
  }

  @media (max-width: $tablet-width) {
    width: 25rem;
    height: 32rem;
  }
}

.hovered-card {
  background-color: $grey;
  color: white;
  transform: rotateY(180deg);
  border-radius: 10px;
  position: absolute;
  width: 35rem;
  height: 40rem;

  @media (max-width: $desktop-width) and (min-width: $tablet-width) {
    width: 30rem;
    height: 35rem;
  }

  @media (max-width: $tablet-width) {
    width: 25rem;
    height: 32rem;
  }
}
