.block {
  overflow: hidden;
  background: #333;
  padding: 1rem;
  max-width: 20rem;
  margin: 0 0 1rem 0;
  border-radius: $button-border-radius;
  color: rgb(247, 243, 243);
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  font-size: 85%;
  line-height: 1.4;
}

.block img {
  width: 75px;
  height: 75px;
  float: left;
  margin: 0 1rem 0 0;
}

.block h2 {
  font-weight: 500;
  margin: 0 0 0.5rem 0;
}

.block1 {
  overflow: hidden;
  background: #333;
  padding: 1rem;
  max-width: 20rem;
  margin: 0 0 1rem 0;
  border-radius: $button-border-radius;
  color: rgb(247, 243, 243);
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  font-size: 85%;
  line-height: 1.4;
  margin-left: 80px;
}

.block1 img {
  width: 75px;
  height: 75px;
  float: left;
  margin: 0 1rem 0 0;
}

.block1 h2 {
  font-weight: 500;
  margin: 0 0 0.5rem 0;
}
