<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BootStrap Lite</title>
    <link th:href="@{/css/bootstrap-lite.css}" rel="stylesheet" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/a11y-light.min.css">
</head>

<body>
<nav id="navbarid" class = "navbar navbar-fixed navbar-light" style="z-index:1010">
    <a class = "navbar-brand">
        BootStrap Lite
    </a>
    <div tabindex="0">
        <a href="#">Home</a>
        <a href="#"><b>Documentation</b></a>
        <a href="#">Examples</a>
        <a href="#">Download</a>
    </div>
</nav>

<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div >
            <h1 class="title" style = "margin-top:30px; width:90%; padding: 40px;">
                <b style="color:#007599">"</b>
                <b th:text="${Quotes.content}" style="font-style: italic">"Quote Text"</b>
                <b style="color:#007599">"</b>
            </h1>
            <h2 class="subtitle">
                <b th:text="${Quotes.author}" style="color:#0095EB">Author</b>
            </h2>
        </div>
    </div>
</section>
<nav class = "navbar navbar-fixed navbar-light" style="z-index: 1010;">
    <a class = "navbar-brand">
        BootStrap Lite
    </a>
    <div>
        <a href="#">Home</a>
        <a href="#"><b>Documentation</b></a>
        <a href="#">Examples</a>
        <a href="#Downloads">Download</a>
    </div>
</nav>

<div class = "container" style = "top:90px;">
    <div class = "side-bar sticky">
        <ul>
            <li>
                <a href="#Badge">Badge</a>
            </li>
            <li>
                <a href="#Buttons">Buttons</a>
            </li>
            <li>
                <a href="#Card">Card</a>
            </li>
            <li>
                <a href="#Media-Object">Media Object</a>
            </li>
            <li>
                <a href="#Navbar">Navbar</a>
            </li>
        </ul>
    </div>

    <div class = "main-content con-content" >
        <div class = "header-link" id = "Badge">
            <h1 style = "margin-top: 20px"><b>Badge</b></h1>
            <h2>Description of component</h2>
            <p>Badges display additional information next to a button or any other element. Its clear and concise.
                It may also be used to add highlighted information to text making them stand out
            </p>
            <h3>How it's used</h3>
            <p>Here is what you need to know in order to implement badges:</p>
            <ul>
                <li>Badges require a wrapping <code>.badge</code></li>
                <li>Different scenarios call for different styling. Three types of badges
                    can be accessed using the class modifiers: <code>.badge-primary .badge-success
                        .badge-warning
                    </code>
                </li>
            </ul>
            <h3>Example</h3>

            <div class = "outline">
                <div class = "outline-row">
                    <h3>Example <span class = "badge badge-dark">New</span></h3>
                    <h4>Example <span class = "badge badge-dark">New</span></h4>
                    <h5>Example <span class = "badge badge-dark">New</span></h5>
                    <h6>Example <span class = "badge badge-dark">New</span></h6>
                </div>
                <pre>
                    <code class = "html">
                        <div th:text="${badge_example}"></div>
                    </code>
                </pre>
            </div>
            <br />
            <p>They can also be used as notification counters</p>
            <div class = "outline">
                <div class = "outline-row">
                    <button class = "button-primary">
                        Notifications <span class = "badge badge-warning">4</span>
                    </button>
                </div>
                <pre>
                    <code class = "html">
                        <div th:text="${badge_btn}"></div>
                    </code>
                </pre>
            </div>
            <br />

            <p>Class modifiers can also be added to achieve unique appearances of the badges</p>
            <div class="outline">
                <div class="outline-row">
                    <span class = "badge badge-primary">primary</span>
                    <span class = "badge badge-success">success</span>
                    <span class = "badge badge-danger">Danger</span>
                    <span class = "badge badge-warning">Warning</span>
                    <span class = "badge badge-info">Info</span>
                    <span class = "badge badge-light">Light</span>
                    <span class = "badge badge-dark">Dark</span>
                </div>
                <pre>
                <code class = "html">
                    <div th:text="${badge_all}"></div>
                </code>
            </pre>
            </div>
        </div>
        <div class = "header-link" id = "Buttons">
            <h1 style = "margin-top: 80px"><b>Buttons</b></h1>
            <h2>Description of component</h2>
            <p>Buttons provide the platform that allows users interact with web application such as login, register, submit a form.</p>
            <h2>How it's used</h2>
            <p>Here is what you need to know in order to implement button:</p>
            <ul>
                <li>Different scenarios call for different styling. Three types of buttons can be accessed using the class modifiers: <code>.button-primary .button-success .button-warning .button-info</code></li>
                <li>Buttons require a wrapping <code>.button</code></li>
            </ul>
            <h4>Example</h4>
            <div class = "outline">
                <div class = "outline-row">
                    <button class="button-primary">Primary</button>
                    <button class="button-success">Success</button>
                    <button class="button-danger">Danger</button>
                    <button class="button-warning">Warning</button>
                    <button class="button-info">Info</button>
                    <button class="button-light">Light</button>
                    <button class="button-dark">Dark</button>
                </div>
                <pre>
                    <code class = "html">
                        <div th:text="${button_all}"></div>
                    </code>
                </pre>
            </div>
        </div>
        <div class = "header-link" id = "Card">
            <h1 style = "margin-top: 80px"><b>Card</b></h1>
            <h4>Description of component</h4>
            <p>Card concentrates the infomation in the contents of business, personal information, promotions, advertisement</p>
            <h3>How it's used</h3>
            <p>Here is what you need to know in order to implement card:</p>
            <ul>
                <li>Card contains different sub-classes of its elements: <code>.card-body .card-titile .card-subtitile .card-header .card-footer</code></li>
                <li>Card allows flipping when it is hovered by using the classes of <code>.hover-card .hovered .hover-card:hover .hovered .unhovered-card .hovered-card</code></li>
            </ul>
            <h2>Example</h2>
            <h4>Code</h4>
            <div class = "outline">
                <div class = "outline-row">
                    <div class="hover-card">
                        <div class="hovered">
                            <div class="card-back">
                                <div class = "card">
                                    <div class = "card-header"> Front Card</div>
                                    <div class ="cardimg">
                                        <img th:src="@{image/profile_pic.png}">
                                    </div>
                                    <div class = "card-body">
                                        <h3 class= "card-title">Profile</h3>
                                        <p class = "card-subtitle">Hover To Flip</p>
                                        <p class = "card-text">Some text</p>
                                    </div>
                                    <ul class = "list-group list-group-flush">
                                        <li class = "list-group-item">Item 1</li>
                                        <li class = "list-group-item">Item 2</li>
                                    </ul>
                                    <div class = "card-footer"> Footer </div>
                                </div>
                            </div>
                            <div class="card-front">
                                <div class = "card">
                                    <div class = "card-header"> Back Card </div>
                                    <div class ="cardimg">
                                        <img th:src="@{image/profile_pic.png}">
                                    </div>
                                    <div class = "card-body">
                                        <h3 class= "card-title">Profile</h3>
                                        <p class = "card-subtitle">Unhover To Flip Back</p>
                                        <p class = "card-text">Some text</p>
                                    </div>
                                    <ul class = "list-group list-group-flush">
                                        <li class = "list-group-item">Item 3</li>
                                        <li class = "list-group-item">Item 4</li>
                                    </ul>
                                    <div class = "card-footer"> Footer </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <pre>
                    <code class = "html">
                        <div th:text="${card}"></div>
                    </code>
                </pre>
                <pre>
                    <code class = "html">
                        <div th:text="${card_hover}"></div>
                    </code>
                </pre>
            </div>
        </div>
        <div class = "header-link" id = "Media-Object">
            <h1 style = "margin-top: 80px"><b>Media Object</b></h1>
            <h4>Description of component</h4>
            <p>Media Object demonstrates the users' comment, username, and profile picture, which creates a platform for users interacting with each other.</p>
            <h3>How it's used</h3>
            <p>Here is what you need to know inorder to use the Media Object:</p>
            <ul>
                <li>Media Object uses class of <code>.block</code> to implement a container for users' username and comments.</li>
                <li>The class <code>.block img</code> allows users to setup their own profile picture</li>
            </ul>

            <h4>Example</h4>
            <div class="outline">
                <div class = "outline-row">
                    <div class="block">
                        <img th:src="@{image/profile_pic.png}">
                        <h2>Henry</h2>
                        <p>I like this comment</p>
                    </div>
                    <div class="block1">
                        <img th:src="@{image/pro_file_re.png}">
                        <h2>John</h2>
                        <p>me too!</p>
                    </div>
                </div>
                <pre>
                    <code class = "html">
                        <div th:text="${media_obj}"></div>
                    </code>
                </pre>
            </div>
        </div>
        <div class = "header-link" id = "Navbar">
            <h1 style = "margin-top: 80px"><b>Navbar</b></h1>
            <h3>Description of component</h3>
            <p>A navbar or a navigation bar is exactly that. An important part of almost any
                website these days. Its a section of the website that aids its visitors in accessing
                information.
            </p>
            <h3>How it works</h3>
            <p>Here is what you need to know inorder to use the navbar: </p>
            <ul>
                <li>It requires a <code>.navbar wrapping</code>. If its to be fixed towards the upper area
                    of the page use <code>.navbar-fixed</code>. Otherwise the implementation will be positioned
                    relative to other content in the page.
                </li>
                <li>The Navbar is responsive by default</li>
                <li>It comes with various colour schemes which are accessed using
                    class modifies: <code>.navbar-primary .navbar-light .navbar-dark
                        .navbar-transparent</code>. There implementationis detailed below</li>
                <li>The navbar is hidden when printing by default.</li>
            </ul>
            <h3>Example</h3>
            <div class ="outline">
                <div class = "outline-row">
                    <nav class = "navbar navbar-light">
                        <a class = "navbar-brand">
                            Nav Light
                        </a>
                        <div>
                            <a href="#">Home</a>
                            <a href="#"><b>Documentation</b></a>
                            <a href="#">Examples</a>
                        </div>
                    </nav>
                    <nav class = "navbar navbar-dark">
                        <a class = "navbar-brand">
                            Nav Dark
                        </a>
                        <div>
                            <a href="#">Home</a>
                            <a href="#"><b>Documentation</b></a>
                            <a href="#">Examples</a>
                        </div>
                    </nav>
                    <nav class = "navbar navbar-primary">
                        <a class = "navbar-brand">
                            Nav Primary
                        </a>
                        <div>
                            <a href="#">Home</a>
                            <a href="#"><b>Documentation</b></a>
                            <a href="#">Examples</a>
                        </div>
                    </nav>
                    <nav class = "navbar navbar-transparent">
                        <a class = "navbar-brand">
                            Nav Transparent
                        </a>
                        <div>
                            <a href="#">Home</a>
                            <a href="#"><b>Documentation</b></a>
                            <a href="#">Examples</a>
                        </div>
                    </nav>
                </div>
                <br/>
                <pre>
                    <code class = "html">
                        <div th:text="${navbar_all}"></div>
                    </code>
                </pre>
            </div>
            <br/>
            <p>Adding images to the navbar will require the following changes to its implementation </p>
            <div class = "outline">
                <div class = "outline-row">
                    <nav class = "navbar navbar-light">
                        <img th:src="@{image/opentext-logo.png}">
                        <div>
                            <a href="#">Products and Solutions</a>
                            <a href="#"><b>Industries</b></a>
                            <a href="#">Services</a>
                        </div>
                    </nav>
                </div>
                <pre>
                    <code class = "html">
                        <div th:text="${navbar_img}"></div>
                    </code>
                </pre>
            </div>
        </div>
        <hr/>
        <div id="Downloads">
            <h2 style = "margin:50px auto 0 auto">Download Bootstrap Lite</h2>
            <h3>Compiled CSS</h3>
            <p>The library is ready to use and can be dropped into an existing project. This
                only includes the css files and no documentation, scss files or any JavaScript.
            </p>

            <a th:href="@{/css/bootstrap-lite.css}" download>
                <button class = "button button-primary" style= "margin-left:0;">
                    Download
                </button>
            </a>
            </div>
        </div>
    </div>
</div>

<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</body>
</html>