<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BootStrap Lite</title>
    <link th:href="@{/css/bootstrap-lite.css}" rel="stylesheet" />
</head>
<body>
<nav id="navbarid" class = "navbar navbar-fixed navbar-light" style="z-index:1010">
    <a class = "navbar-brand">
        BootStrap Lite
    </a>
    <div tabindex="0">
        <a href="#">Home</a>
        <a href="#"><b>Documentation</b></a>
        <a href="#">Examples</a>
        <a>Download</a>
    </div>
</nav>

<section class="hero is-primary is-medium is-bold">
    <div class="hero-body">
        <div class="">
            <h1 class="title">
                <b style="color:#333">"</b>
                <b th:text="${Quotes.content}" style="font-style: italic">"Quote Text"</b>
                <b style="color:#333">"</b>
            </h1>
            <h2 class="subtitle">
                <b th:text="${Quotes.author}">Author</b>
            </h2>
        </div>
    </div>
</section>

<div class = "container" style = "top: 90px">

    <aside class = "side-bar sticky">
        <ul tabindex="0">
            <li>
                <a href="#Badge">Badge</a>
            </li>
            <li>
                <a href="#Buttons">Buttons</a>
            </li>
            <li>
                <a href="#Card">Card</a>
            </li>
            <li>
                <a href="#Media-Object">Media Object</a>
            </li>
            <li>
                <a href="#Navbar">Navbar</a>
            </li>
        </ul>
    </aside>

    <main class = "main-content con-content" >

        <div id="Badge">
            <h1><b>Badge</b></h1>
            <h2>Description of component</h2>
            <p>Badges display additional information next to a button or any other element. Its clear and concise.
                It may also be used to add highlighted information to text making them stand out
            </p>
            <h2>How its used</h2>
            <p>Here is what you need to know in order to implement badges:</p>
            <ul>
                <li>Badges require a wrapping <code>.badge</code></li>
                <li>Different scenarios call for different styling. Three types of badges
                    can be accessed using the class modifiers: <code>.badge-primary .badge-success
                        .badge-warning
                    </code>
                </li>
            </ul>
            <h2>Example</h2>

            <div class = "outline">
                <p>They scale to the immediate parent element</p>
                <h3>Example <span class = "badge badge-dark">New</span></h3>
                <h4>Example <span class = "badge badge-dark">New</span></h4>
                <h5>Example <span class = "badge badge-dark">New</span></h5>
                <h6>Example <span class = "badge badge-dark">New</span></h6>
                <Highlight>
                    {badge_code_text}
                </Highlight>
            </div>
            <br />
            <div class = "outline">
                <p>They can also be used as notification counters</p>
                <div class = "outline-row">
                    <button class = "button-primary">
                        Notifications <span class = "badge badge-warning">4</span>
                    </button>
                </div>
                <Highlight>
                    {badge_notifications}
                </Highlight>
            </div>
            <br />

            <div class="outline">
                <p>Class modifiers can also be added to achieve unique appearances of the badges</p>
                <div class="outline-row">
                    <span class = "badge badge-primary">primary</span>
                    <span class = "badge badge-success">success</span>
                    <span class = "badge badge-danger">Danger</span>
                    <span class = "badge badge-warning">Warning</span>
                    <span class = "badge badge-info">Info</span>
                    <span class = "badge badge-light">Light</span>
                    <span class = "badge badge-dark">Dark</span>
                </div>
                <Highlight>
                    {badge_code}
                </Highlight>
            </div>
        </div>

        <div id="Buttons">
            <h1><b>Buttons</b></h1>
            <h2>Description of component</h2>
            <p>Buttons provide the platform that allows users interact with web application such as login, register, submit a form.</p>
            <h2>How it works</h2>
            <p>Here is what you need to know in order to implement button:</p>
            <ul>
                <li>Different scenarios call for different styling. Three types of buttons can be accessed using the class modifiers: <code>.button-primary .button-success .button-warning .button-info</code></li>
                <li>Buttons require a wrapping <code>.button</code></li></ul>


            <h2>Example</h2>
            <div>
                <button class="button-primary">Primary</button>
                <button class="button-success">Success</button>
                <button class="button-danger">Danger</button>
                <button class="button-warning">Warning</button>
                <button class="button-info">Info</button>
                <button class="button-light">Light</button>
                <button class="button-dark">Dark</button>
            </div>
            <Highlight>
                {buttons_code}
            </Highlight>
        </div>

        <div id="Card">
            <h1><b>Card</b></h1>
            <h2>Description of component</h2>
            <p>Card concentrates the information in the contents of business, personal information, promotions, advertisement</p>
            <h2>How it works</h2>
            <p>Here is what you need to know in order to implement card:</p>
            <ul>
                <li>Card contains different sub-classes of its elements: <code>.card-body .card-title .card-subtitle .card-header .card-footer</code></li>
                <li>Card allows flipping when it is hovered by using the classes of <code>.hover-card .hovered .hover-card:hover .hovered .unhovered-card .hovered-card</code></li>
            </ul>
            <h2>Example</h2>
            <div class="hover-card">
                <div class="hovered">

                    <div class="card-back">
                        <h1>This is empty!</h1>
                    </div>
                    <div class="card-front">
                        <div class = "card">
                            <div class = "card-header"> Header </div>
                            <div class ="cardimg">
                                <img src = "./profile_pic.png" alt = "generic profile image"/>
                            </div>
                            <div class = "card-body">
                                <h3 class= "card-title">Profile</h3>
                                <p class = "card-text">content</p>
                                <p class = "card-text">Some text</p>
                                <p class = "card-text">More text</p>
                            </div>
                            <ul class = "list-group list-group-flush">
                                <li class = "list-group-item">Item 1</li>
                                <li class = "list-group-item">Item 2</li>
                                <li class = "list-group-item">Item 3</li>
                                <li class = "list-group-item">Item 4</li>
                            </ul>
                            <div class = "card-footer"> Footer </div>
                        </div>
                    </div>
                </div>
            </div>
            <h4>Code</h4>
            <Highlight language = {"html"}>
                {card_code}
            </Highlight>
        </div>

        <div class = "header-link" id = "Media-Object">
            <h1><b>Media Object</b></h1>
            <h2>Description of component</h2>
            <p>Media Object demonstrates the users' comment, username, and profile picture, which creates a platform for users interacting with each other.</p>
            <h2>How it works</h2>
            <p>Here is what you need to know inorder to use the Media Object:</p>
            <ul>
                <li>Media Object uses class of <code>.block</code> to implement a container for users' username and comments.</li>
                <li>The class <code>.block img</code> allows users to setup their own profile picture</li>
            </ul>

            <h2>Example</h2>
            <div class="outline">
                <div class="block">
                    <img src="./profile_pic.png" alt="generic profile picture 1"/>
                    <h2>Henry</h2>
                    <p>I like this comment</p>
                </div>
                <div class="block1">
                    <img src="./pro_file_re.png" alt="generic profile picture 2"/>
                    <h2>John</h2>
                    <p>me too!</p>
                </div>
            </div>
            <Highlight>
                {media_object_code}
            </Highlight>
        </div>

        <div id="Navbar">
            <h1><b>Navbar</b></h1>
            <h2>Description of component</h2>
            <p>A navbar or a navigation bar is exactly that. An important part of almost any
                website these days. Its a section of the website that aids its visitors in accessing
                information.
            </p>
            <h2>How it works</h2>
            <p>Here is what you need to know inorder to use the navbar: </p>
            <ul>
                <li>It requires a <code>.navbar wrapping</code>. If its to be fixed towards the upper area
                    of the page use <code>.navbar-fixed</code>. Otherwise the implementation will be positioned
                    relative to other content in the page.
                </li>
                <li>The Navbar is responsive by default</li>
                <li>It comes with various colour schemes which are accessed using
                    class modifies: <code>.navbar-primary .navbar-light .navbar-dark
                        .navbar-transparent</code>. There implementations detailed below</li>
                <li>The navbar is hidden when printing by default.</li>
            </ul>
            <h2>Example</h2>
            <div class ="outline" style= "z-index : 900">
                <nav class = "navbar navbar-light" >
                    <a class = "navbar-brand">
                        Nav Light
                    </a>
                    <div>
                        <a href="#">Home</a>
                        <a href="#"><b>Documentation</b></a>
                        <a href="#">Examples</a>
                    </div>
                </nav>
                <nav class = "navbar navbar-dark">
                    <a class = "navbar-brand">
                        Nav Dark
                    </a>
                    <div>
                        <a href="#">Home</a>
                        <a href="#"><b>Documentation</b></a>
                        <a href="#">Examples</a>
                    </div>
                </nav>
                <nav class = "navbar navbar-primary">
                    <a class = "navbar-brand">
                        Nav Primary
                    </a>
                    <div>
                        <a href="#">Home</a>
                        <a href="#"><b>Documentation</b></a>
                        <a href="#">Examples</a>
                    </div>
                </nav>
                <nav class = "navbar navbar-transparent">
                    <a class = "navbar-brand">
                        Nav Transparent
                    </a>
                    <div>
                        <a href="#">Home</a>
                        <a href="#"><b>Documentation</b></a>
                        <a href="#">Examples</a>
                    </div>
                </nav>
                <p>Click the following buttons to see how a main navbar would look with these styles:</p>
                <div class = "outline-row">
                    <button class = "button button-primary" th:onClick = changeNavbar(transparent)>Transparent</button>
                    <button class = "button button-primary" th:onClick = changeNavbar(primary)>Primary</button>
                    <button class = "button button-dark" th:onClick = changeNavbar(dark)>Dark</button>
                    <button class = "button button-light" th:onClick = changeNavbar(light)>Light</button>
                </div>
                <Highlight>
                    {navbar_code}
                </Highlight>
                <br/>
                <p>Adding images to the navbar will require the following changes to its
                    implementation
                </p>
                <nav class = "navbar navbar-light">
                    <img src="https://i2.wp.com/www.deep-analysis.net/wp-content/uploads/2019/05/opentext-logo.png?fit=3515%2C1132&ssl=1" alt = "openText logo"/>
                    <div>
                        <a href="#">Products and Solutions</a>
                        <a href="#"><b>Industries</b></a>
                        <a href="#">Services</a>
                    </div>
                </nav>
                <Highlight>
                    {navbar_img}
                </Highlight>
            </div>

        </div>
        <hr/>
        <div id="Downloads">
            <h2 style = "margin: 0 auto 0 auto">Download Bootstrap Lite</h2>
            <h3>Compiled CSS</h3>
            <p>The library is ready to use and can be dropped into an existing project. This
                only includes the css files and no documentation, scss files or any JavaScript.
            </p>
            <button class = "button button-primary" style="margin-left: 0">
                Download
            </button>
        </div>
    </main>
</div>
</body>
<link rel="stylesheet"
      href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/styles/default.min.css">
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/highlight.min.js"></script>
<script type="text/javascript" th:src="@{/js/actions.js}"></script>

</html>